@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF;
  --foreground: #171717;
  --color: #002c5b;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ecece2;
    --foreground: #ededed;
    --color: #002c5b;
    --second-color: #8c9bab;
    --btn-background: #edfca7;
  }
}

body {
  background: var(--background);
  color: var(--color);
  font-family: "Poppins", sans-serif;
}
