.logo img {
    width: 7rem !important;
}
.swiper-slide img {
    width: 10rem;
}

.swiper-free-mode>.swiper-wrapper {
    transition-timing-function: linear !important;
}
.partner-slide .swiper-slide
{
padding-right: 6rem;
}
